{% extends "base/base.html" %}

{% block body %}

  {% load crispy_forms_tags %}

  <!--Password Reset Confirm-->
    <div class="container p-5">
	    <h2 class="font-weight-bold mt-3">Şifre Kurtarma Ekranı</h2>
		<hr>

             {% if not form %}
                <div class="container">
                  <div class="row">
                    <div class="col-lg-8 mt-5" style="float: none; margin:0 auto">
                      <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <span class="fw-medium">Bağlantı Geçersiz.</span>  Aşağıdaki Butondan Yeni Bağlantı Talebi Oluşturabilirsiniz

                      </div>
                    </div>
                  </div>
                </div>
                <br/>
                 <form action="{% url 'password_reset' %}">
                    <button class="btn btn-primary" >Şifrenizi Sıfırlayın</button>
                 </form>

                 <br>
            {% else %}
        <form method="POST">
            {% csrf_token %}




                {{ form |crispy}}
            <button class="btn btn-primary" type="submit">Reset password</button>
            {% endif %}
        </form>
    </div>

{% endblock %}