{% load static %}
 <footer class="bg-dark pt-5">
      <div class="container">
        <div class="row pb-2">
          <div class="col-md-4 col-sm-6">
            <div class="widget widget-links widget-light pb-2 mb-4">
              <h3 class="widget-title text-light">Kategoriler</h3>
              <ul class="widget-list">
                <li class="widget-list-item"><a class="widget-list-link" href="#">Roman</a></li>
                <li class="widget-list-item"><a class="widget-list-link" href="#">Şiir</a></li>
                <li class="widget-list-item"><a class="widget-list-link" href="#">Macera</a></li>
                <li class="widget-list-item"><a class="widget-list-link" href="#">İlkokul Ders</a></li>
                <li class="widget-list-item"><a class="widget-list-link" href="#">Lise Ders </a></li>
                <li class="widget-list-item"><a class="widget-list-link" href="#">Akademik</a></li>
                <li class="widget-list-item"><a class="widget-list-link" href="#">Üniversiteye Hazırlık</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="widget widget-links widget-light pb-2 mb-4">
              <h3 class="widget-title text-light">Hesap</h3>
              <ul class="widget-list">
                <li class="widget-list-item"><a class="widget-list-link" href="#">Hesabım</a></li>
                <li class="widget-list-item"><a class="widget-list-link" href="#">Sipariş Takip</a></li>
              </ul>
            </div>
            <div class="widget widget-links widget-light pb-2 mb-4">
              <h3 class="widget-title text-light">Hakkımızda</h3>
              <ul class="widget-list">
                <li class="widget-list-item"><a class="widget-list-link" href="#">Biz Kimiz ?</a></li>
                <li class="widget-list-item"><a class="widget-list-link" href="#">Nasıl Çalışır ?</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="widget pb-2 mb-4">
              <h3 class="widget-title text-light pb-1">Haberdar olun</h3>
              <form class="subscription-form validate" action="https://studio.us12.list-manage.com/subscribe/post?u=c7103e2c981361a6639545bd5&amp;amp;id=29ca296126" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                <div class="input-group flex-nowrap"><i class="ci-mail position-absolute top-50 translate-middle-y text-muted fs-base ms-3"></i>
                  <input class="form-control rounded-start" type="email" name="EMAIL" placeholder="E-mail" required>
                  <button class="btn btn-primary" type="submit" name="subscribe">Gönder*</button>
                </div>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                  <input class="subscription-form-antispam" type="text" name="b_c7103e2c981361a6639545bd5_29ca296126" tabindex="-1">
                </div>
                <div class="form-text text-light opacity-50">*Güncellemeler ve kampanyalardan haberdar olmak için mail adresinizi gönderebilirsiniz !</div>
                <div class="subscription-status"></div>
              </form>
            </div>
            <div class="widget pb-2 mb-4">
              <h3 class="widget-title text-light pb-1">Uygulamamızı İndirin</h3>
              <div class="d-flex flex-wrap">
                <div class="mb-2"><a class="btn-market btn-google" href="#" role="button"><span class="btn-market-subtitle">İndir</span><span class="btn-market-title">Google Play</span></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pt-5 bg-darker">
        <div class="container">
          <div class="row pb-3">
            <div class="col-md-3 col-sm-6 mb-4">
              <div class="d-flex"><i class="ci-rocket text-primary" style="font-size: 2.25rem;"></i>
                <div class="ps-3">
                  <h6 class="fs-base text-light mb-1">Hızlı ve ücretsiz teslimat</h6>
                  <p class="mb-0 fs-ms text-light opacity-50">50 tl ve üzeri alışverişlerinizde kargo ücretsiz.</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
              <div class="d-flex"><i class="ci-currency-exchange text-primary" style="font-size: 2.25rem;"></i>
                <div class="ps-3">
                  <h6 class="fs-base text-light mb-1">Para iade garantisi</h6>
                  <p class="mb-0 fs-ms text-light opacity-50">Ürün iadeniz dahilinde 30 günde paranız iade.</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
              <div class="d-flex"><i class="ci-support text-primary" style="font-size: 2.25rem;"></i>
                <div class="ps-3">
                  <h6 class="fs-base text-light mb-1">7/24 müşteri desteği</h6>
                  <p class="mb-0 fs-ms text-light opacity-50">7/24 Müşteri desteğiyle tüm sorunlarınızda yanınızdayız.</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
              <div class="d-flex"><i class="ci-card text-primary" style="font-size: 2.25rem;"></i>
                <div class="ps-3">
                  <h6 class="fs-base text-light mb-1">Güvenli Ödeme </h6>
                  <p class="mb-0 fs-ms text-light opacity-50">Tüm kartlarınızla istediğiniz şekilde güvenli ödeme garantisi.</p>
                </div>
              </div>
            </div>
          </div>
          <hr class="hr-light mb-5">
          <div class="row pb-2">
            <div class="col-md-6 text-center text-md-start mb-4">
              <div class="text-nowrap mb-4"><a class="d-inline-block align-middle mt-n1 me-3" href="#"></a>
              </div>
            </div>
            <div class="col-md-6 text-center text-md-end mb-4">
              <div class="mb-3"><a class="btn-social bs-light bs-twitter ms-2 mb-2" href="#"><i class="ci-twitter"></i></a><a class="btn-social bs-light bs-facebook ms-2 mb-2" href="#"><i class="ci-facebook"></i></a><a class="btn-social bs-light bs-instagram ms-2 mb-2" href="#"><i class="ci-instagram"></i></a><a class="btn-social bs-light bs-pinterest ms-2 mb-2" href="#"><i class="ci-pinterest"></i></a><a class="btn-social bs-light bs-youtube ms-2 mb-2" href="#"><i class="ci-youtube"></i></a></div><img class="d-inline-block" src="{% static 'img/cards-alt.png' %}" width="187" alt="Payment methods">
            </div>
          </div>
          <div class="pb-4 fs-xs text-light opacity-50 text-center text-md-start">© Tüm hakları saklıdır. Made by <a class="text-light" href="https://createx.studio/" target="_blank" rel="noopener">Codek.</a></div>
        </div>
      </div>
    </footer>