{% load static%}

<div class="topbar topbar-dark bg-dark">
        <div class="container">
          <div class="topbar-text dropdown d-md-none"><a class="topbar-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Useful links</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="tel:2121211212"><i class="ci-support text-muted me-2"></i>(212) 121 1212</a></li>
            </ul>
          </div>
          <div class="topbar-text text-nowrap d-none d-md-inline-block"><i class="ci-support"></i><span class="text-muted me-1">Destek</span><a class="topbar-link" href="tel:2121211212">(212) 121 1212</a></div>
          <div class="tns-carousel tns-controls-static d-none d-md-block">
            <div class="tns-carousel-inner" data-carousel-options="{&quot;mode&quot;: &quot;gallery&quot;, &quot;nav&quot;: false}">
              <div class="topbar-text">50 tl ve üzeri ücretsiz kargo</div>
              <div class="topbar-text">5 iş günü içerisinde ücretsiz iade</div>
              <div class="topbar-text">7/24 Müşteri desteği</div>
            </div>
          </div>
        </div>
      </div>