{% extends 'base/base.html' %}
{% load static %}
{% block body %}
  <!-- Body-->
  <body class="handheld-toolbar-enabled">
    <!-- Popular categories-->
    <section class="container position-relative pt-3 pt-lg-3 pb-5 mt-lg-n20" style="z-index: 10;">
      <div class="row">
        <div class="row">
          <div class="card border-0 shadow-lg">
            <div class="card-body px-3 pt-grid-gutter pb-0">
              <div class="row g-0 ps-1">
                {% for cat in categories %}
                <div class="col-md-2 px-5 mb-grid-gutter">
                    <a class="d-block text-center text-decoration-none me-1" href="{% url 'category_page' cat.slug %}">
                    <img class="d-block mb-3" src="{{ cat.image.url }}" alt="{{ cat.category_name }}">
                    <h3 class="fs-base pt-1 mb-0">{{ cat.category_name }}</h3></a>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Products grid (Trending products)-->
    <section class="container pt-md-3 pb-5 mb-md-3">
       
      <div class="row pt-4 mx-n2">
        <!-- Product-->
        {% for i in rate_list1 %}
        <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4">
          <div class="card product-card">
            <button class="btn-wishlist btn-sm" type="button" title="Favorilere ekle">
              <a href="{% url 'add_favorite' i.product.id %}"><i {% if i.fav %} class="icon-heart" {% else %} class="icon-heart-empty" {% endif %}></i></a></button>
              <a class="card-img-top d-block overflow-hidden" href="{% url 'detail_product' i.product.id %}">
                <img style="height: 450px;" width="310" src="{{ i.product.first_image }}" class="img-rounded" alt="{{ i.product.product_name }}"></a>
            <div class="card-body py-2"><a class="product-meta d-block fs-xs pb-1" href="#">{% for cat in i.category %} {{ cat }} {% endfor %}</a>
              <h3 class="product-title fs-sm"><a href="{% url 'detail_product' i.product.id %}">{{ i.product.product_name }}</a></h3>
              <div class="d-flex justify-content-between">
                <div class="product-price"><span class="text-accent">{{ i.product.price }}₺</span></div>
                <div class="star-rating">
                  {% if i.rate.rate__avg %}
                      <i {% if i.rate.rate__avg > 0 %} class="star-rating-icon ci-star-filled active" {% else %} class="star-rating-icon ci-star" {% endif %}></i>
                      <i {% if i.rate.rate__avg > 1 %} class="star-rating-icon ci-star-filled active" {% else %} class="star-rating-icon ci-star" {% endif %}></i>
                      <i {% if i.rate.rate__avg > 2 %} class="star-rating-icon ci-star-filled active" {% else %} class="star-rating-icon ci-star" {% endif %}></i>
                      <i {% if i.rate.rate__avg > 3 %} class="star-rating-icon ci-star-filled active" {% else %} class="star-rating-icon ci-star" {% endif %}></i>
                      <i {% if i.rate.rate__avg > 4 %} class="star-rating-icon ci-star-filled active" {% else %} class="star-rating-icon ci-star" {% endif %}></i>
                      {% else %}
                      <i class="star-rating-icon ci-star"></i>
                      <i class="star-rating-icon ci-star"></i>
                      <i class="star-rating-icon ci-star"></i>
                      <i class="star-rating-icon ci-star"></i>
                      <i class="star-rating-icon ci-star"></i>
                      {% endif %}
                </div>
              </div>
            </div>
            <div class="card-body card-body">
              <a href="{% url 'add_basket' i.product.id %}"><button class="btn btn-primary btn-sm d-block w-100 mb-2" type="button"><i class="ci-cart fs-sm me-1"></i>{% if i.basket %} Sepete Eklendi {% else %} Sepete Ekle {% endif %}</button></a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>
    <!-- Banners-->
    <section class="container pb-4 mb-md-3">
      <div class="row">
        <div class="col-md-12 mb-4">
          <div class="d-sm-flex justify-content-between align-items-center bg-secondary overflow-hidden rounded-3">
            <div class="py-4 my-2 my-md-0 py-md-5 px-4 ms-md-3 text-center text-sm-start">
              <h4 class="fs-lg fw-light mb-2">Acele Et! Sınırlı Teklif</h4>
              <h3 class="mb-4">Bütün Kitaplar İndirimde</h3><a class="btn btn-primary btn-shadow btn-sm" href="{% url 'home' %}">Şimdi Al</a>
            </div><img width="50%" class="d-block ms-auto" src="{% static 'img/shop/catalog/banner.jpg' %}" alt="Shop Converse">
          </div>
        </div>
      </div>
    </section>
    <section class="container pt-md-3 pb-5 mb-md-3">
       
      <div class="row pt-4 mx-n2">
        <!-- Product-->
        {% for i in rate_list2 %}
        <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4">
          <div class="card product-card">
            <button class="btn-wishlist btn-sm" type="button" title="Favorilere ekle">
              <a href="{% url 'add_favorite' i.product.id %}"><i {% if i.fav %} class="icon-heart" {% else %} class="icon-heart-empty" {% endif %}></i></a></button>
              <a class="card-img-top d-block overflow-hidden" href="{% url 'detail_product' i.product.id %}">
                <img style="height: 450px;" width="310" src="{{ i.product.first_image }}" alt="{{ i.product.product_name }}"></a>
            <div class="card-body py-2"><a class="product-meta d-block fs-xs pb-1" href="#">{% for cat in i.category %} {{ cat }} {% endfor %}</a>
              <h3 class="product-title fs-sm"><a href="{% url 'detail_product' i.product.id %}">{{ i.product.product_name }}</a></h3>
              <div class="d-flex justify-content-between">
                <div class="product-price"><span class="text-accent">{{ i.product.price }}₺</span></div>
                <div class="star-rating">
                  {% if i.rate.rate__avg %}
                      <i {% if i.rate.rate__avg > 0 %} class="star-rating-icon ci-star-filled active" {% else %} class="star-rating-icon ci-star" {% endif %}></i>
                      <i {% if i.rate.rate__avg > 1 %} class="star-rating-icon ci-star-filled active" {% else %} class="star-rating-icon ci-star" {% endif %}></i>
                      <i {% if i.rate.rate__avg > 2 %} class="star-rating-icon ci-star-filled active" {% else %} class="star-rating-icon ci-star" {% endif %}></i>
                      <i {% if i.rate.rate__avg > 3 %} class="star-rating-icon ci-star-filled active" {% else %} class="star-rating-icon ci-star" {% endif %}></i>
                      <i {% if i.rate.rate__avg > 4 %} class="star-rating-icon ci-star-filled active" {% else %} class="star-rating-icon ci-star" {% endif %}></i>
                      {% else %}
                      <i class="star-rating-icon ci-star"></i>
                      <i class="star-rating-icon ci-star"></i>
                      <i class="star-rating-icon ci-star"></i>
                      <i class="star-rating-icon ci-star"></i>
                      <i class="star-rating-icon ci-star"></i>
                      {% endif %}
                </div>
              </div>
            </div>
            <div class="card-body card-body">
              <a href="{% url 'add_basket' i.product.id %}"><button class="btn btn-primary btn-sm d-block w-100 mb-2" type="button"><i class="ci-cart fs-sm me-1"></i>{% if i.basket %} Sepete Eklendi {% else %} Sepete Ekle {% endif %}</button></a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>
{% endblock %}